body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #272B3E;
  color: white;
  overflow-x: hidden;
  padding-bottom: 100px; 
  display: flex;
  flex-direction: column;
}

.responsive {
  width: 100%;
  max-width: 1700px;
  max-height: 430px;
  height: auto;
}

div.content {
  position: sticky;
  margin-left: 150px;
}

h1{
  margin-left: 20px;
}


/* Header */
.header {
  background-color: #2F344D;
  min-height: 112px;
  min-width: 100%;
  position: fixed;
  padding: 0%;   
  box-shadow: 0px 0 8px -2px black;
  z-index: 3;
}

.headerlogo{
  float: left;
  width: 118px;
  height: 74px;
  margin-top: 20px;
  margin-left: 12px;
}

.signin {
  color: white;
  float: right;
  margin-right: 30px;
  margin-top: 40px;
  font-size: 24px;
  text-decoration: none;
}




/* Button in header */
.btn {
  text-align: center;
  float: right;
  color: fff;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50px;
  margin-right: 47px;
  margin-top: 30px;
  width: 190px;
  height: 45px;
  transition: 0.6s;
  background-size: 130%;
  border: none;
}

i {
  margin-right: 15px;
}

.login {
  background-image: linear-gradient(to right, #F25981 , #7D89FA);
  border-color: transparent;
  color: white;
}

.login:hover {
  background-position: left;
  color: white;
}

.container{
  text-align: center;
}

.btn:hover {
  background-position: right;
}



/* drop down menu with genras */

.dropbtn {
  background-color: #2F344D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  z-index: 1;
  position:absolute;
  border-radius: 20px;
  width: 140px;
  text-align: left;
  box-shadow: 0px 0 6px -2px black;
  margin-top: 10px;
  margin-left: 20px;
}

.dropdown {
  display:flex;
  display: inline-block;
  margin-top: 130px;
}

.dropdown-content {
  margin-top: 60px;
  display: none;
  position: fixed;
  background-color: #2F344D;
  min-width: 140px;
  box-shadow: 0px 0 6px -2px black;
  border-radius: 20px;
  width: 110px;
  margin-left: 20px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
  width: 110px;

}

.dropdown-content a:hover {background-color: #3E425A;}
.dropdown:hover .dropdown-content {display: block;}




/* side navigation */
.sidebar {
  margin: 0;
  padding: 0;
  width: 140px;
  background-color: #2F344D;
  position: fixed;
  height: 100%;
  overflow: auto;
  margin-top: 110px;
}

.sidebar a {
  display: block;
  color: white;
  padding: 20px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #F25981;
  color: white;
}

li {
  list-style-type: none;
}



/* slider, but dont know how to make one so its an example */
.slider{
  margin-top: 60px;
  padding: 20px;
}



/* game products */
.game-page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -20px;  
  
}

.game-list, .game-list-best {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  justify-content: space-evenly;
}

.game-product {
  width: 20%;
  flex-grow: 1;
  margin: 20px;

}

.game-product-best {
  display: flexbox;
  width: 10%;
  flex-grow: 1;
  margin: 20px;
}

.game-img {
  width: 100%;
}
 


.polaroid {
  height: 250px;
  background-color:#2F344D;
  box-shadow: 0px 0 6px -2px black; 
  
}

.polaroid img {
  max-width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: 0% 10%;
}

.game-product:hover, .game-product-best:hover{
  background: white;
  border: 1px solid white;
  margin: 19px;
}

section {
  max-width: auto;
  width: 100%;
  margin-top: 60px;
  
} 

div.a {
  line-height: normal;
  font-size: 24px;
  margin-left: 10px;
  color: white;
}

div.b {
  line-height: 20px;
  font-size: 15px;
  margin-left: 10px;
  color: white;
}

div.c {
  line-height: 30px;
  font-size: 15px;
  margin-left: 10px;
  color: white;
  font-weight: lighter;
}
div.d {
  font-weight: bold;
  text-align: right;
  line-height: 55px;
  font-size: 23px;
  margin-left: 10px;
  color: white;
  margin-top: -50px;
  margin-right: 10px;
  flex-basis: auto;
}
div.e {
  font-weight: bold;
  text-align: right;
  line-height: 55px;
  font-size: 20px;
  margin-left: 10px;
  color: white;
  margin-top: -45px;
  margin-right: 10px;
  content: 'min-content';
}


/* bottom / footer */
.box{  
  background-color: #8980F1; 
  position: flex;
  max-height: 309px; 
  max-width: 1700px; 
  margin-left: 20px;
  margin-top: 80px;
}

.samurai{
  margin-left: 180px;
  margin-top: -30px;
  display: inline-flex;
  max-height: 387px;
  max-width: 544px;
}

/* shooting site */
.shootingsite{
  margin-top: 60px;
  padding: 20px;
}

.shooting-card{
  height: 665px;
  width: 900px;
  background-color:#2F344D;
  box-shadow: 0px 0 6px -2px black;
}

.row{
  
}
.overskrift{
  margin-top: 40px;
}

.class {
  text-align: center;
  float: right;
  background-color: #7D89FA;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 10px;
  width: 150px;
  height: 40px;
}

.cta {
  border-color: #8980F1;
  color: white;
}


.cardshooting img {
  width: 100%;
  height: auto;
  object-position: 10% 30%;
}

  
  .column {
    float: left;
    width: 25%;
    padding: 20px;
    
    
  }

  .shooting101{
    float:center;
    margin-top: 100px;
    width: 100%;
    padding: 20px;
    
  }

  .cardshooting{
    background-color:#2F344D;
    box-shadow: 0px 0 6px -2px black;
    text-align: left;
    max
  }


  .card {
    background-color:#2F344D;
    box-shadow: 0px 0 6px -2px black;
    text-align: left;
    height: 250px;
  }

  .card img{
   
      width: 100%;
      height: 170px;
    
  }


/* checkout */

.checkout{
  padding: 20px;
  margin-top: 130px;
  width: auto;
  
}

.labels{
  display: flex;
  flex-direction: row;
}
 /*order complete*/

 .confirmation{
   padding: 20px;
   margin-top: 100px;
   display: flex;
 }

 .orderinfo{
   margin-top: 100px;
   margin-left: -190px;
 }

 .continue{
   display: flex;
 }

 .contact-form{
   padding: 20px;
   margin-top: 100px;
 }

 .contact-form > *{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
 }


 .footer{
   display: flex;
   flex-direction: column;
   text-align: center;
   background-color: white;
   max-height: 500px;
 }

.sliderr{
  margin-top: 130px; 
}

 .sliderr img{
  height: 200px;
}

.profilepic{
  border-radius: 50%;
  margin-top: -100px;
}

.profile{
  padding: 20px;
}

.text{
  margin-left: 20px;
}

/* media */
@media screen and (max-width: 800px) {
  .sidebar {
    margin-top: 0px;
    width: 100%;
    height: auto;
    position: relative;
}

.header nav {
    width:90%;
    margin:0;
    height:80px;
}

.body {
    margin:0 0 100px 0;
}

.header{
    display: none;
  }

.dropdown{
    display: none;
  }

.sidebar a {
  float: bottom;
}

div.content, .checkout, .contact-form {
  margin-left: 10px;
  margin-right: 10px;
}
.game-product, .game-product-best {
  width: 100%;
}
.box{
  display: none;
  margin-left: 10px;
  margin-right: 10px;
}
}

@media screen and (max-width: 900px){
  .game-product, .game-product-best {
    width: 30%;
  }
}
@media screen and (max-width: 500px){
  .game-product, .game-product-best {
    width: 50%;
  }
}
 

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}




@media screen and (max-width: 800px) {
  .column {
    width: 50%;
    display: block;
    margin-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1350px) {
  .column {
    width: 50%;
    display: block;
    margin-top: 10px;
  }
}
