body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #272B3E;
  color: white;
  overflow-x: hidden;
  padding-bottom: 100px; 
  display: flex;
  flex-direction: column;
}

.responsive {
  width: 100%;
  max-width: 1700px;
  max-height: 430px;
  height: auto;
}

div.content {
  position: sticky;
  margin-left: 180px;
}

/* Header */
.header {
  background-color: #2F344D;
  min-height: 112px;
  min-width: 100%;
  position: fixed;
  padding: 0%;   
  box-shadow: 0px 0 8px -2px black;
  z-index: 3;
}

.headerlogo{
  float: left;
  width: 118px;
  height: 74px;
  margin-top: 20px;
  margin-left: 12px;
}

.signin {
  color: white;
  float: right;
  margin-right: 30px;
  margin-top: 40px;
  font-size: 24px;
  text-decoration: none;
}




/* Button in header */
.btn {
  text-align: center;
  float: right;
  color: fff;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50px;
  margin-right: 47px;
  margin-top: 30px;
  width: 190px;
  height: 45px;
  transition: 0.6s;
  background-size: 130%;
  border: none;
}

i {
  margin-right: 15px;
}

.login {
  background-image: linear-gradient(to right, #F25981 , #7D89FA);
  border-color: transparent;
  color: white;
}

.login:hover {
  background-position: left;
  color: white;
}

.container{
  text-align: center;
}

.btn:hover {
  background-position: right;
}

/* drop down menu with genras */

.dropbtn {
  background-color: #2F344D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  z-index: 1;
  position:absolute;
  border-radius: 20px;
  width: 140px;
  text-align: left;
  box-shadow: 0px 0 6px -2px black;
  margin-top: 10px;
}

.dropdown {
  display:flex;
  display: inline-block;
  margin-top: 130px;
}

.dropdown-content {
  margin-top: 60px;
  display: none;
  position: fixed;
  background-color: #2F344D;
  min-width: 140px;
  box-shadow: 0px 0 6px -2px black;
  border-radius: 20px;
  width: 110px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
  width: 110px;
}

.dropdown-content a:hover {background-color: #3E425A;}
.dropdown:hover .dropdown-content {display: block;}


/* side navigation */
.sidebar {
  margin: 0;
  padding: 0;
  width: 140px;
  background-color: #2F344D;
  position: fixed;
  height: 100%;
  overflow: auto;
  margin-top: 110px;
}

.sidebar a {
  display: block;
  color: white;
  padding: 20px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #F25981;
  color: white;
}

li {
  list-style-type: none;
}

/* slider, but dont know how to make one so its an example */
.slider{
  margin-top: 75px;
}

section {
  max-width: auto;
  width: 100%;
  
}

/* NEW IN GAMES */
.wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.wrapper img{
  object-position: 0% 10%;
}
.wrapper-games img{
  object-position: 0% 10%;
}

.polaroid img {
  width: 390px;
  height: 170px;
}

.polaroid {
  height: 250px;
  width: 390px;
  background-color:#2F344D;
  box-shadow: 0px 0 6px -2px black; 
}


/* media */
@media screen and (max-width: 800px) {
  .sidebar {
    margin-top: 0px;
    width: 100%;
    height: auto;
    position: relative;
}

.header nav {
    width:90%;
    margin:0;
    height:80px;
}
.body {
    margin:0 0 100px 0;
}
.header{
    display: none;
  }
.dropdown{
    display: none;
  }
.sidebar a {
  float: bottom;
}
div.content {
  margin-left: 10px;
  margin-right: 10px;
}
}
}
 




section {
  max-width: auto;
  width: 100%;
  margin: 40px auto;
}

section.fullwidth {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}





section {
  max-width: auto;
  width: 100%;
  margin: 40px auto;
}

section.fullwidth {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}





.nav-links a:hover {
  text-decoration: underline;
}

.nav-links {
  display: flex;
  align-items: end;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}




.footer-links a:hover {
  text-decoration: underline;
}

footer h4 {
  margin: 0;
}

/*Jackets Page*/

.jacket-list {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.jacket-product {
  width: 25%;
  flex-grow: 1;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}

.jackets-page {
  display: flex;
  flex-wrap: wrap;
  max-width: auto;
  width: 100%;
  margin: 40px auto;
}

.jacket-img {
  width: 100%;
}

.gender-nav a:hover {
  text-decoration: underline;
}

.gender-nav {
  margin: 0 auto;
  flex: 0 1 20%;
  font-size: 0.8em;
}

.class-cta {
  background-color: #2ad5c0;
  font-weight: bold;
  padding: 10px 40px;
}


@media only screen and (max-width: 500px) {
  .jacket-product {
    width: 100%;
  }
